@import url(style.css);

.equipe{
    position: relative;
    top: 100px;
    width: 95%;
    height: 650px;
    background-color: #5494b7;
    margin: 0 auto;
}

.equipe img{
    position: relative;
    top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    
}

.equipe h1{
    position: relative;
    text-align: center;
    top: 30px;
    color: white;

}

.equipe p{
    position: relative;
    text-align: center;
    top: 30px;
    color: black;
}


/* Equipe 2 */


.equipe2{
    position: relative;
    top: 0px;
    width: 95%;
    height: 500px;
    background-color: #5494b7;
    margin: 0 auto;
}

.equipe2 img{
    position: relative;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    
}

.equipe2 h1{
    position: relative;
    text-align: center;
    top: 20px;
    color: white;

}

.equipe2 p{
    position: relative;
    text-align: center;
    top: 20px;
    color: black;
}

/* Equipe 3 */

.equipe3 {
    position: relative;
    top: 0px;
    width: 95%;
    height: 950px;
    background-color: #5494b7;
    margin: 0 auto;
}

.equipe3 img{
    position: relative;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    
}

.equipe3 h1{
    position: relative;
    text-align: center;
    top: 30px;
    color: white;

}

.equipe3 p{
    position: relative;
    text-align: center;
    top: 30px;
    color: black;
}
